@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    @apply antialiased;
    overflow-x: hidden;
    width: 100%;
  }

  * {
    box-sizing: border-box;
  }
}
